{% extends 'base.html' %}
{% block content %}
{% block title%} Pregnancy Calendar {% endblock %} 
<section id="exercises" class="exercises">
    <div class="container">
        <div class="row">
            <div class="section-head col-sm-12 mb-3">
                <h4><span>Pregnancy Calendar : Week 1 </span></h4>
              </div>
        </div>
    </div>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <h3>Your Baby's Development</h1>
                <p>
                    This first week is actually your menstrual period. Because your expected delivery Watch Your Baby Growdate (EDD) is calculated from the first day of your last period, this week counts as part of your 40-week pregnancy even though your baby hasn't been conceived yet.
                </p>

                <h3>Your Body</h3>
                <p>
                    During pregnancy, your healthy habits and your baby's health go hand in hand. While planning to conceive, take the time to prepare your body for motherhood. Before becoming pregnant, you should: <br><br>

                    Watch your belly grow! <br><br>
                    Avoid alcohol, drugs, and tobacco products. These substances can cause birth defects, fetal alcohol syndrome, respiratory problems, low birth weight, and other health problems. <br><br>
                    Talk to your doctor about any prescription and nonprescription (OTC) drugs you are taking. You'll need to take special precautions with medications because many prescription and over-the-counter medications can negatively affect the fetus. But don't stop taking prescription drugs without consulting your health care provider, who will help you weigh the potential benefits and risks of stopping your medications. <br><br>
                    Maintain a diet that contains an adequate amount of vitamins, especially folic acid. Women who are attempting to become pregnant should take 400 micrograms of folic acid a day. Adequate folic acid intake reduces the risk of neural tube defects (birth defects caused by incomplete development of the brain or spinal cord), such as spina bifida. Be sure to talk to your health care provider about taking a folic acid supplement while you are trying to conceive.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}